@import './sass/fonts.scss';
@import './sass/normalize.scss';
@import './sass/variables.scss';

html {
    scroll-behavior: smooth;
}

.pageBody {
    height: 100vh;
    margin: 0;
    padding: 0;
    // padding-bottom: $containerVerticalmargin;
    background-image: url(../public/background.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    font-family: "Nunito-Regular";
    overflow-x: hidden;
    overflow-y: scroll;
}

header {
    position: relative;
    width: 100%;
    padding-bottom: 1rem;
    margin-bottom: 15rem;

    @media (max-width: $breakpointLg),
    (max-height: $breakpointLgHeight) {
        margin-bottom: 8rem;

    }

    @media (max-width: $breakpointSm) {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 5rem;
        width: 80%;
    }

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        width: 90%;
        left: 5%;
        height: 0.0625rem;
        background-color: rgba(255, 255, 255, 0.2);

        @media (max-width: $breakpointSm) {
            display: none;
        }

    }
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hideBurgerMenu {
    opacity: 0;
    transform: translateX(100%)
}

.closeBurger {
    z-index: 99;
    width: 100vw;
    height: 100%;
    position: fixed;
    left: -100vw;
    display: flex;
}

.bottomPad {
    height: 1rem;

    @media (max-width: $breakpointSm) {
        display: none;
    }
}