.navigationWrapper {
    display: flex;
    padding: 0rem 10rem;
    justify-content: flex-end;


    @media (max-width: $breakpointSm) {
        content: '';
        z-index: 100;
        position: fixed;
        width: 50vw;
        height: 100vh;
        padding: 0;
        left: 49.7%;
        background-color: rgba(0, 0, 45, 0.5);
        border-radius: 1rem 0 0 1rem;
        border: .0625rem solid rgba(255, 255, 255, 0.18);
        backdrop-filter: blur(2rem);
        transition-duration: .5s;
    }




}