@import './variables.scss';

.skillList {
    list-style: none;
    margin: 0;
    padding: 0;

    & li {
        display: flex;
        width: 100%;
        margin: 0;
        margin-bottom: 1rem;
        padding: 0;

        & .skillList__skillImage {
            width: 8rem;
            height: 8rem;
            background-repeat: no-repeat;
            background-size: 7rem;
            background-position-x: 0.5rem;
            background-position-y: 0.5rem;

            @media (max-width: $breakpointLg),
            (max-height: $breakpointLgHeight) {
                width: 6rem;
                height: 6rem;
                background-size: 5rem;

            }

            @media (max-width: $breakpointSm) {
                width: 6rem;
                height: 5rem;
                background-size: 4rem;
            }

            @media (max-width: $breakpointXsm) {
                width: 5rem;
                height: 4rem;
                background-size: 3rem;
            }
        }


        &:nth-child(1) {
            & .skillList__skillImage {
                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg fill='none'  stroke-width='1.5' viewBox='0 0 24 24'  xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.5 6L10 18.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6.5 8.5L3 12L6.5 15.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M17.5 8.5L21 12L17.5 15.5' stroke='white' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
            }
        }

        &:nth-child(2) {
            & .skillList__skillImage {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'  viewBox='0 0 32 32'%3E%3Cpath d='M16 0c8.839 0 16 7.161 16 16s-7.161 16-16 16c-8.839 0-16-7.161-16-16s7.161-16 16-16zM12.817 21.328c0.235 0.865 0.209 1.667-0.031 2.391l-0.084 0.24c-0.031 0.083-0.072 0.161-0.104 0.235-0.187 0.391-0.437 0.749-0.739 1.083-0.933 1.011-2.229 1.396-2.787 1.073-0.604-0.349-0.303-1.781 0.776-2.923 1.161-1.224 2.828-2.011 2.828-2.011v-0.004zM26.036 6.849c-0.724-2.844-5.437-3.776-9.896-2.193-2.656 0.943-5.525 2.423-7.593 4.355-2.459 2.296-2.849 4.296-2.687 5.129 0.572 2.948 4.609 4.881 6.271 6.308v0.011c-0.491 0.239-4.073 2.036-4.912 3.901-0.901 1.957 0.141 3.359 0.817 3.536 2.1 0.583 4.261-0.48 5.423-2.199 1.12-1.681 1.020-3.837 0.536-4.9 0.661-0.177 1.443-0.261 2.443-0.141 2.803 0.323 3.36 2.084 3.24 2.803s-0.699 1.14-0.901 1.26c-0.197 0.12-0.26 0.156-0.24 0.24 0.021 0.12 0.12 0.12 0.281 0.099 0.219-0.036 1.459-0.599 1.521-1.959 0.057-1.724-1.584-3.64-4.5-3.604-1.203 0.027-1.964 0.125-2.5 0.344-0.041-0.057-0.084-0.099-0.141-0.141-1.801-1.937-5.14-3.296-5-5.88 0.043-0.937 0.381-3.416 6.401-6.416 4.937-2.464 8.88-1.781 9.557-0.281 0.98 2.14-2.099 6.12-7.239 6.697-1.959 0.219-2.98-0.536-3.24-0.817-0.281-0.303-0.317-0.323-0.423-0.26-0.156 0.077-0.057 0.339 0 0.5 0.161 0.4 0.781 1.099 1.865 1.457 0.937 0.303 3.24 0.48 6-0.599 3.099-1.197 5.516-4.536 4.817-7.339z' fill='white'/%3E%3C/svg%3E%0A");
            }
        }

        &:nth-child(3) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3Csvg id='Flat' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cpath d='M183.03955,94.00049A39.98706,39.98706,0,0,0,162,20.001H94A39.98706,39.98706,0,0,0,72.96045,94.00049,39.96375,39.96375,0,0,0,72.96143,162,39.9924,39.9924,0,1,0,134,195.99951v-39.47a39.98084,39.98084,0,1,0,49.03955-62.529ZM190,60.001a28.03114,28.03114,0,0,1-27.98047,27.99951L162,88l-.03857.001L134,88V32.001h28A28.03145,28.03145,0,0,1,190,60.001Zm-124,0a28.03145,28.03145,0,0,1,28-28h28V88H94l-.019.00049A28.03132,28.03132,0,0,1,66,60.001ZM66,128a28.03123,28.03123,0,0,1,27.981-27.99951L94,100.001l28-.00074V155.999L94,156A28.03146,28.03146,0,0,1,66,128Zm28,95.999A27.99951,27.99951,0,1,1,94,168l28-.00073v28.00024A28.03135,28.03135,0,0,1,94,223.999ZM162,156a27.99952,27.99952,0,0,1-.03857-55.999H162l.019-.00049A27.99976,27.99976,0,0,1,162,156Z' fill='white'/%3E%3C/svg%3E%0A");
            }

        }

        &:nth-child(4) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32'  version='1.1' viewBox='0 0 32 32'  xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='adaptive_responsive_design_1_'%3E%3Cg%3E%3Cg%3E%3Cpath d='M1.5,20C1.224,20,1,19.776,1,19.5v-16C1,2.673,1.673,2,2.5,2h27C30.327,2,31,2.673,31,3.5V5 c0,0.276-0.224,0.5-0.5,0.5S30,5.276,30,5V3.5C30,3.225,29.775,3,29.5,3h-27C2.225,3,2,3.225,2,3.5v16C2,19.776,1.776,20,1.5,20z ' fill='white'/%3E%3C/g%3E%3Cpath d='M16,31h-5.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1c0.827,0,1.5-0.673,1.5-1.5V26 c0-0.276,0.224-0.5,0.5-0.5S14,25.724,14,26v2.5c0,0.563-0.187,1.082-0.501,1.5H16c0.276,0,0.5,0.224,0.5,0.5S16.276,31,16,31z' fill='white'/%3E%3Cpath d='M15.5,26h-13C1.673,26,1,25.327,1,24.5v-3C1,21.224,1.224,21,1.5,21h14c0.276,0,0.5,0.224,0.5,0.5 S15.776,22,15.5,22H2v2.5C2,24.775,2.225,25,2.5,25h13c0.276,0,0.5,0.224,0.5,0.5S15.776,26,15.5,26z' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M21.5,9h5C26.776,9,27,8.776,27,8.5S26.776,8,26.5,8h-5C21.224,8,21,8.224,21,8.5S21.224,9,21.5,9z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M23.5,29h1c0.276,0,0.5-0.224,0.5-0.5S24.776,28,24.5,28h-1c-0.276,0-0.5,0.224-0.5,0.5 S23.224,29,23.5,29z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M28.5,31h-9c-1.379,0-2.5-1.121-2.5-2.5v-20C17,7.121,18.121,6,19.5,6h9C29.879,6,31,7.121,31,8.5v20 C31,29.879,29.879,31,28.5,31z M19.5,7C18.673,7,18,7.673,18,8.5v20c0,0.827,0.673,1.5,1.5,1.5h9c0.827,0,1.5-0.673,1.5-1.5v-20 C30,7.673,29.327,7,28.5,7H19.5z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }

        }

        &:nth-child(5) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44' xmlns:xlink='http://www.w3.org/1999/xlink' enable-background='new 0 0 44 44'%3E%3Cg%3E%3Cg%3E%3Cpath fill-rule='evenodd' d='m18,13h-12c-1.104,0-2,0.896-2,2v8c0,1.104 0.896,2 2,2h12c1.104,0 2-0.896 2-2v-8c0-1.104-0.896-2-2-2zm0,10h-12v-8h12v8zm5-8h8c0.553,0 1-0.447 1-1 0-0.553-0.447-1-1-1h-8c-0.553,0-1,0.447-1,1 0,0.553 0.447,1 1,1zm8,2h-8c-0.553,0-1,0.447-1,1 0,0.553 0.447,1 1,1h8c0.553,0 1-0.447 1-1 0-0.553-0.447-1-1-1z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='m42,12h-6v-6c0-1.104-0.896-2-2-2h-32c-1.104,0-2,0.896-2,2v24c0,1.104 0.896,2 2,2h6v6c0,1.104 0.896,2 2,2h32c1.104,0 2-0.896 2-2v-24c0-1.104-0.896-2-2-2zm-40-6h32v3h-32v-3zm0,24v-19h32v19h-32zm40,8h-32v-6h24c1.104,0 2-0.896 2-2v-16h6v24z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

            }

        }

        &:nth-child(6) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg data-name='Livello 1' id='Livello_1' viewBox='0 0 128 128' xmlns='http://www.w3.org/2000/svg'%3E%3Ctitle/%3E%3Cpath d='M91,0H37A11,11,0,0,0,26,11V117a11,11,0,0,0,11,11H91a11,11,0,0,0,11-11V11A11,11,0,0,0,91,0ZM32,22.69H96V99.58H32ZM37,6H91a5,5,0,0,1,5,5v5.69H32V11A5,5,0,0,1,37,6ZM91,122H37a5,5,0,0,1-5-5V105.58H96V117A5,5,0,0,1,91,122Z' fill='white'/%3E%3Ccircle cx='64' cy='113.91' r='6' fill='white'/%3E%3Cpath d='M56.13,14.22H71.88a3,3,0,1,0,0-6H56.13a3,3,0,1,0,0,6Z' fill='white'/%3E%3C/svg%3E");
            }

        }

        &:nth-child(7) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg enable-background='new 0 0 32 32' version='1.1' viewBox='0 0 32 32' xml:space='preserve' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg id='computer_website_check_result'%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg id='response_time_5_'%3E%3Ccircle cx='7.5' cy='4.5' fill='white' r='0.5'/%3E%3Ccircle cx='5.5' cy='4.5' fill='white' r='0.5'/%3E%3Ccircle cx='3.5' cy='4.5' fill='white' r='0.5'/%3E%3Cpath d='M30.5,7h-29C1.224,7,1,6.776,1,6.5S1.224,6,1.5,6h29C30.776,6,31,6.224,31,6.5S30.776,7,30.5,7z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cpath d='M1.5,22C1.224,22,1,21.776,1,21.5v-18C1,2.673,1.673,2,2.5,2h27C30.327,2,31,2.673,31,3.5v9 c0,0.276-0.224,0.5-0.5,0.5S30,12.776,30,12.5v-9C30,3.225,29.776,3,29.5,3h-27C2.224,3,2,3.225,2,3.5v18 C2,21.776,1.776,22,1.5,22z' fill='white'/%3E%3C/g%3E%3Cpath d='M22,31H10.5c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1c0.827,0,1.5-0.673,1.5-1.5v-1 c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v1c0,0.563-0.187,1.082-0.501,1.5h5.002C18.187,29.582,18,29.063,18,28.5v-3 c0-0.276,0.224-0.5,0.5-0.5s0.5,0.224,0.5,0.5v3c0,0.827,0.673,1.5,1.5,1.5H22c0.276,0,0.5,0.224,0.5,0.5S22.276,31,22,31z' fill='white'/%3E%3Cpath d='M18.5,26h-16C1.673,26,1,25.327,1,24.5v-3C1,21.224,1.224,21,1.5,21h14c0.276,0,0.5,0.224,0.5,0.5 S15.776,22,15.5,22H2v2.5C2,24.775,2.224,25,2.5,25h16c0.276,0,0.5,0.224,0.5,0.5S18.776,26,18.5,26z' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M18.5,14h-1c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h1c0.276,0,0.5,0.224,0.5,0.5 S18.776,14,18.5,14z' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M27.5,10h-10C17.224,10,17,9.776,17,9.5S17.224,9,17.5,9h10C27.776,9,28,9.224,28,9.5S27.776,10,27.5,10z ' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M27.5,12h-10c-0.276,0-0.5-0.224-0.5-0.5s0.224-0.5,0.5-0.5h10c0.276,0,0.5,0.224,0.5,0.5 S27.776,12,27.5,12z' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cpath d='M7.5,14h-3C4.224,14,4,13.776,4,13.5S4.224,13,4.5,13h3C7.776,13,8,13.224,8,13.5S7.776,14,7.5,14z' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M14.5,10h-10C4.224,10,4,9.776,4,9.5S4.224,9,4.5,9h10C14.776,9,15,9.224,15,9.5S14.776,10,14.5,10z' fill='white'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M14.5,12h-10C4.224,12,4,11.776,4,11.5S4.224,11,4.5,11h10c0.276,0,0.5,0.224,0.5,0.5S14.776,12,14.5,12z ' fill='white'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M24,27c-3.86,0-7-3.141-7-7s3.14-7,7-7c1.352,0,2.663,0.386,3.792,1.115 c0.232,0.15,0.298,0.459,0.148,0.691c-0.15,0.23-0.458,0.3-0.691,0.148C26.283,14.33,25.159,14,24,14c-3.309,0-6,2.691-6,6 s2.691,6,6,6s6-2.691,6-6c0-0.642-0.101-1.273-0.299-1.877c-0.086-0.263,0.057-0.545,0.319-0.631 c0.262-0.088,0.545,0.057,0.631,0.318C30.882,18.516,31,19.252,31,20C31,23.859,27.86,27,24,27z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M23.5,22.699c-0.004,0-0.008,0-0.012,0c-0.145-0.004-0.28-0.069-0.373-0.18l-2.5-3 c-0.176-0.213-0.147-0.528,0.064-0.705c0.213-0.176,0.527-0.147,0.705,0.064l2.133,2.561l6.215-6.865 c0.188-0.204,0.504-0.216,0.706-0.031c0.203,0.187,0.217,0.503,0.03,0.707l-6.6,7.287C23.773,22.641,23.641,22.699,23.5,22.699 z' fill='white'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
            }

        }

        &:nth-child(8) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' %3F%3E%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cg data-name='Layer 13' id='Layer_13'%3E%3Cpath d='M28,3.5H4A2.5,2.5,0,0,0,1.5,6V26A2.5,2.5,0,0,0,4,28.5H28A2.5,2.5,0,0,0,30.5,26V6A2.5,2.5,0,0,0,28,3.5ZM29.5,26A1.5,1.5,0,0,1,28,27.5H4A1.5,1.5,0,0,1,2.5,26V8.5h27ZM2.5,7.5V6A1.5,1.5,0,0,1,4,4.5H28A1.5,1.5,0,0,1,29.5,6V7.5ZM27.5,6a.5.5,0,1,1-.5-.5A.5.5,0,0,1,27.5,6ZM26,6a.5.5,0,1,1-.5-.5A.5.5,0,0,1,26,6ZM24.5,6a.5.5,0,1,1-.5-.5A.5.5,0,0,1,24.5,6ZM17,14.5H27a.5.5,0,0,0,.5-.5V10a.5.5,0,0,0-.5-.5H17a.5.5,0,0,0-.5.5v4A.5.5,0,0,0,17,14.5Zm.5-4h9v3h-9ZM5,20.5H15a.5.5,0,0,0,.5-.5V16a.5.5,0,0,0-.5-.5H5a.5.5,0,0,0-.5.5v4A.5.5,0,0,0,5,20.5Zm.5-4h9v3h-9ZM17,26.5H27a.5.5,0,0,0,.5-.5V22a.5.5,0,0,0-.5-.5H17a.5.5,0,0,0-.5.5v4A.5.5,0,0,0,17,26.5Zm.5-4h9v3h-9ZM4.5,11a.5.5,0,0,1,.5-.5H15a.5.5,0,0,1,0,1H5A.5.5,0,0,1,4.5,11Zm0,2a.5.5,0,0,1,.5-.5H15a.5.5,0,0,1,0,1H5A.5.5,0,0,1,4.5,13Zm12,4a.5.5,0,0,1,.5-.5H27a.5.5,0,0,1,0,1H17A.5.5,0,0,1,16.5,17Zm0,2a.5.5,0,0,1,.5-.5H27a.5.5,0,0,1,0,1H17A.5.5,0,0,1,16.5,19Zm-12,4a.5.5,0,0,1,.5-.5H15a.5.5,0,0,1,0,1H5A.5.5,0,0,1,4.5,23Zm0,2a.5.5,0,0,1,.5-.5H15a.5.5,0,0,1,0,1H5A.5.5,0,0,1,4.5,25Z' fill='white'/%3E%3C/g%3E%3C/svg%3E");
            }

        }

        &:nth-child(9) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Cpath d='M16 13.146c-1.573 0-2.854 1.281-2.854 2.854s1.281 2.854 2.854 2.854c1.573 0 2.854-1.281 2.854-2.854s-1.281-2.854-2.854-2.854zM8.010 21.672l-0.63-0.156c-4.688-1.188-7.38-3.198-7.38-5.521s2.693-4.333 7.38-5.521l0.63-0.156 0.177 0.625c0.474 1.635 1.083 3.229 1.818 4.771l0.135 0.281-0.135 0.286c-0.734 1.536-1.344 3.13-1.818 4.771zM7.089 11.932c-3.563 1-5.75 2.536-5.75 4.063s2.188 3.057 5.75 4.063c0.438-1.391 0.964-2.745 1.578-4.063-0.615-1.318-1.141-2.672-1.578-4.063zM23.99 21.672l-0.177-0.625c-0.474-1.635-1.083-3.229-1.818-4.766l-0.135-0.286 0.135-0.286c0.734-1.536 1.344-3.13 1.818-4.771l0.177-0.62 0.63 0.156c4.688 1.188 7.38 3.198 7.38 5.521s-2.693 4.333-7.38 5.521zM23.333 15.995c0.641 1.385 1.172 2.745 1.578 4.063 3.568-1.005 5.75-2.536 5.75-4.063s-2.188-3.057-5.75-4.063c-0.438 1.385-0.964 2.745-1.578 4.063zM7.078 11.927l-0.177-0.625c-1.318-4.646-0.917-7.979 1.099-9.141 1.979-1.141 5.151 0.208 8.479 3.625l0.453 0.464-0.453 0.464c-1.182 1.229-2.26 2.552-3.229 3.958l-0.182 0.255-0.313 0.026c-1.703 0.135-3.391 0.406-5.047 0.813zM9.609 3.089c-0.359 0-0.677 0.073-0.943 0.229-1.323 0.766-1.557 3.422-0.646 7.005 1.422-0.318 2.859-0.542 4.313-0.672 0.833-1.188 1.75-2.323 2.734-3.391-2.078-2.026-4.047-3.172-5.458-3.172zM22.396 30.234c-0.005 0-0.005 0 0 0-1.901 0-4.344-1.427-6.875-4.031l-0.453-0.464 0.453-0.464c1.182-1.229 2.26-2.552 3.229-3.958l0.177-0.255 0.313-0.031c1.703-0.13 3.391-0.401 5.052-0.813l0.63-0.156 0.177 0.625c1.318 4.646 0.917 7.974-1.099 9.135-0.49 0.281-1.042 0.422-1.604 0.411zM16.932 25.729c2.078 2.026 4.047 3.172 5.458 3.172h0.005c0.354 0 0.672-0.078 0.938-0.229 1.323-0.766 1.563-3.422 0.646-7.005-1.422 0.318-2.865 0.542-4.313 0.667-0.833 1.193-1.75 2.323-2.734 3.396zM24.922 11.927l-0.63-0.161c-1.661-0.406-3.349-0.677-5.052-0.813l-0.313-0.026-0.177-0.255c-0.969-1.406-2.047-2.729-3.229-3.958l-0.453-0.464 0.453-0.464c3.328-3.417 6.5-4.766 8.479-3.625 2.016 1.161 2.417 4.495 1.099 9.141zM19.667 9.651c1.521 0.141 2.969 0.365 4.313 0.672 0.917-3.583 0.677-6.24-0.646-7.005-1.318-0.76-3.797 0.406-6.401 2.943 0.984 1.073 1.896 2.203 2.734 3.391zM9.609 30.234c-0.563 0.010-1.12-0.13-1.609-0.411-2.016-1.161-2.417-4.49-1.099-9.135l0.177-0.625 0.63 0.156c1.542 0.391 3.24 0.661 5.047 0.813l0.313 0.031 0.177 0.255c0.969 1.406 2.047 2.729 3.229 3.958l0.453 0.464-0.453 0.464c-2.526 2.604-4.969 4.031-6.865 4.031zM8.021 21.667c-0.917 3.583-0.677 6.24 0.646 7.005 1.318 0.75 3.792-0.406 6.401-2.943-0.984-1.073-1.901-2.203-2.734-3.396-1.453-0.125-2.891-0.349-4.313-0.667zM16 22.505c-1.099 0-2.224-0.047-3.354-0.141l-0.313-0.026-0.182-0.26c-0.635-0.917-1.24-1.859-1.797-2.828-0.563-0.969-1.078-1.958-1.557-2.969l-0.135-0.286 0.135-0.286c0.479-1.010 0.995-2 1.557-2.969 0.552-0.953 1.156-1.906 1.797-2.828l0.182-0.26 0.313-0.026c2.234-0.188 4.479-0.188 6.708 0l0.313 0.026 0.182 0.26c1.276 1.833 2.401 3.776 3.354 5.797l0.135 0.286-0.135 0.286c-0.953 2.021-2.073 3.964-3.354 5.797l-0.182 0.26-0.313 0.026c-1.125 0.094-2.255 0.141-3.354 0.141zM13.073 21.057c1.969 0.151 3.885 0.151 5.859 0 1.099-1.609 2.078-3.302 2.927-5.063-0.844-1.76-1.823-3.453-2.932-5.063-1.948-0.151-3.906-0.151-5.854 0-1.109 1.609-2.089 3.302-2.932 5.063 0.849 1.76 1.828 3.453 2.932 5.063z' fill='white'/%3E%3C/svg%3E%0A");
            }

        }

        &:nth-child(10) {
            .skillList__skillImage {

                background-image: url("data:image/svg+xml,%3Csvg role='img' focusable='false' aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath d='m 7,7.333335 -0.6666667,0 0,-1.33333 0.6666667,0 0,1.33333 z m 6,-2.66667 0,4 -6,0 0,0.66667 -2.6666667,0 0,-0.66667 -3.3333333,0 0,-4 12,0 z m -8.6666667,0.66667 -2.6666666,0 0,2.66667 1.3333333,0 0,-2 0.6666667,0 0,2 0.6666666,0 0,-2.66667 z m 3.3333334,0 -2.6666667,0 0,3.33333 1.3333333,0 0,-0.66666 1.3333334,0 0,-2.66667 z m 4.6666663,0 -3.9999997,0 0,2.66667 1.3333334,0 0,-2 0.6666663,0 0,2 0.666667,0 0,-2 0.666667,0 0,2 0.666666,0 0,-2.66667 z' fill='white'/%3E%3C/svg%3E");
            }

        }

        & .skillList__skillDescription {
            padding: 1rem;
            width: 84%;
            align-self: center;
            text-align: center;
            font-size: $fontSizeDefault;

            @media (max-width: $breakpointLg),
            (max-height: $breakpointLgHeight) {
                font-size: $fontSizeLg;

            }

            @media (max-width: $breakpointSm) {
                font-size: $fontSizeSm;
            }

            @media (max-width: $breakpointXsm) {
                margin: 0;
            }
        }
    }


}